{% extends 'pages/home.html' %}
{% load i18n %}
	<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
	<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
	<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post">{% csrf_token %}
<h2>{{ wizard.form.step_name }}</h2>
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
</table>
<input type="submit" value="{% trans 'Submit' %}"/>
</form>
<script>
// OG jQuery to add '+' button beside the property address field
//~ $("#id_1-property_address").parent().append('<a class="related-widget-wrapper-link add-related" id="add_id_loan_address" href="/admin/wwwtlc/address/add/?_to_field=id&amp;_popup=1" title="Add another address"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>');

//~ $("#id_1-property_address").parent().append('  <a class="add-another" id="add_id_{{ field }}" href="/add/{{ field }}" title="Add another address" onclick="return showAddAnotherPopup(this);"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>');
</script>
{% endblock %}

