{% extends 'base.html' %}
{% load djmoney %}
{% money_localize money %}
{% load loan_bal %}

{% block title %}TLC: Manage Loans{% endblock %}

{% block content %}
	<h2>List of Loans:</h2>
	<div>Active Wallet: (from JS) </div>
	<div>TLC to USD:</div><div>{{ blockdata.tlctousdc }}</div>
	<table>
		<tr>
			<th>Loan</th>
			<th>Principal Owed</th>
			<th>Status</th>
			<th>Pay</th>
		</tr>
		{% for loan in loan_iterable %}
		<tr>
			<td>{{ loan.loan_wallet}} </td>
			<td>{% money_localize loan.loan_wallet.address|get_loan_bal 'USD' %}</td>
			<td>{% money_localize loan.loan_payment_due 'USD' %} due</td>
			<td><a href={% url 'pay' loan.id %}><button>Pay with TLC</button></a></td>
		</tr>
		{% endfor %}
	</table>
	
	<br>
	<br>
	<h2>Loans Applied For:</h2>
	<table>
		<tr>
			<th>Address of Property</th>
			<th>Borrower</th>
			<th>Amount Requested</th>
			<th>Contact Person</th>
			<th>Phone Number</th>
			<th>Email Address</th>
			<th>Request Date</th>
			<th>Status</th>
		</tr>
		<tr>
		{% for app in applied_loans %}
		<tr>
			<td>{{ app.request_data.loan_address }}</td>
			<td>{{ app.borrower_requested }}</td>
			<td>${{ app.loan_request_amt | floatformat:2 }}</td>
			<td>{{ app.request_data.contact_person.name_first }}, {{ app_request.request_data.contact_person.name_last }}</td>
			<td>{{ app.request_data.contact_person.phone }}</td>
			<td>{{ app.request_data.contact_person.email_address }}</td>
			<td>{{ app.loan_request_date }}</td>
			<td>{{ app.get_workflow_status_display }}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
