{% extends 'base.html' %}
{% load djmoney %}
{% money_localize money %}
{% load loan_bal %}
{% load humanize %}

{% block title %}TLC: Manage Loans{% endblock %}

{% block content %}
	<h2>List of Loans :</h2>
	{% if loan_iterable %}
		<div>Active Wallet: (from JS) </div>
		<div>TLC to USD:</div><div>{{ blockdata.tlctousdc }}</div>
		<table>
			<tr>
				<th>User</th>
				<th>Loan Wallet</th>
				<th>Loan ID</th>
				<th>Principal Owed</th>
				<th>Payment Due</th>
				<th>Date Due</th>
			</tr>
			{% for loan in loan_iterable %}
			<tr>
				<td>{{ loan.user.username }}</td>
				<td>{{ loan.loan_wallet }}</td>
				<td>{{ loan.id }}</td>
				<td>{% money_localize loan.principal_balance 'USD' %}</td>
				<td>{% money_localize loan.payment_due 'USD' %} due</td>
				<td>{{ loan.payment_due_date|ordinal }} of each month</td><!-- will need to change 'now' function later to turnover to the next month when that date is past -->
				<td><a href="loan/{{ loan.id }}"><button>View Details</button></a></td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>You have no active loans.</p>
		<br>
	{% endif %}
	
	{% if req_basic %}
		<h2>Requests Approved for Basic Application :</h2>
		<h3>(Application Unsubmitted)</h3>
		<table>
			<tr>
				<th>User</th>
				<th>Address of Property</th>
				<th>Contact Person</th>
				<th>Current Mortgage Balance</th>
				<th>Mortgage Amount Desired</th>
				<th>Phone Number</th>
				<th>Email Address</th>
				<th>Borrower Type</th>
				<th>Date Last Modified</th>
				<th>Status</th>
			</tr>
			<tr>
			{% for app in req_basic %}
			<tr>
				<td>{{ app.user.username }}</td>
				<td>{{ app.property.property_address }}</td>
				<td>{{ app.contact.name_last }}, {{ app.contact.name_first }}</td>
				<td>${{ app.curr_mortgage.current_balance | floatformat:2  }}</td>
				<td>${{ app.desired_mortgage.amount_desired | floatformat:2 }}</td>
				<td>{{ app.contact.phone }}</td>
				<td>{{ app.contact.email_address }}</td>
				<td>{{ app.borrower.get_type_display }}</td>
				<td>{{ app.submitted }}</td>
				<td><a href="loan/{{ app.id }}/basic_app/1">Apply Here</a></td>
				<!--<td><a href="{% url 'basic_app' app.id %}">Apply Here</a></td>-->
			</tr>
			{% endfor %}
		</table>
	{% endif %}
	
	{% if req_standard %}
		<h2>Requests Approved for Standard Application :</h2>
		<h3>(Application Unsubmitted)</h3>
		<table>
			<tr>
				<th>User</th>
				<th>Address of Property</th>
				<th>Contact Person</th>
				<th>Current Mortgage Balance</th>
				<th>Mortgage Amount Desired</th>
				<th>Phone Number</th>
				<th>Email Address</th>
				<th>Borrower Type</th>
				<th>Date Last Modified</th>
				<th>Status</th>
			</tr>
			<tr>
			{% for app in req_standard %}
			<tr>
				<td>{{ app.user.username }}</td>
				<td>{{ app.property.property_address }}</td>
				<td>{{ app.contact.name_last }}, {{ app.contact.name_first }}</td>
				<td>${{ app.curr_mortgage.current_balance | floatformat:2  }}</td>
				<td>${{ app.desired_mortgage.amount_desired | floatformat:2 }}</td>
				<td>{{ app.contact.phone }}</td>
				<td>{{ app.contact.email_address }}</td>
				<td>{{ app.borrower.get_type_display }}</td>
				<td>{{ app.submitted }}</td>
				<td><a href="loan/{{ app.id }}/standard_app/1">Apply Here</a></td>
			</tr>
			{% endfor %}
		</table>
	{% endif %}
	
	<br>
	<br>
	{% if applied_loans %}
	<h2>Loans Applied For :</h2>
		<table>
			<tr>
				<th>User</th>
				<th>Address of Property</th>
				<th>Contact Person</th>
				<th>Current Mortgage Balance</th>
				<th>Mortgage Amount Desired</th>
				<th>Phone Number</th>
				<th>Email Address</th>
				<th>Borrower Type</th>
				<th>Date Last Modified</th>
				<th>Status</th>
			</tr>
			<tr>
			{% for app in applied_loans %}
			<tr>
				<td>{{ app.user.username }}</td>
				<td>{{ app.property.property_address }}</td>
				<td>{{ app.contact.name_last }}, {{ app.contact.name_first }}</td>
				<td>${{ app.curr_mortgage.current_balance | floatformat:2  }}</td>
				<td>${{ app.desired_mortgage.amount_desired | floatformat:2 }}</td>
				<td>{{ app.contact.phone }}</td>
				<td>{{ app.contact.email_address }}</td>
				<td>{{ app.borrower.get_type_display }}</td>
				<td>{{ app.submitted }}</td>
				{% if app.status == 0 %}
					<td>Pending</td>
				{% else %}
					<td>{{ app.get_status_display }}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	{% elif not applied_loans and not req_basic and not req_standard %}
		<h2>Loans Applied For :</h2>
		<p>You have not submitted any loan applications.</p>
		</p><a href='/loan_apply'>Click Here</a> to apply</p>
	{% endif %}
{% endblock %}
