{% extends 'base.html' %}

{% block title %}TLC: Tier 2 Application{% endblock %}

{% block content %}
			<h2>Tier 2 Application</h2>
			<form action="" method="post">
				<table>
					{% csrf_token %}
					<h3>Type of Mortgage and Terms of Loan</h3>
					{{ form }}
				</table>
				<table>
					<h3>Property Information and Purpose of Loan</h3>
					{{ form1 }}
				</table>
				<table>
					<h3>Borrower Information</h3>
					{{ form2 }}
				</table>
				<table>
					<h3>Employment Information</h3>
					{{ form3 }}
				</table>
				<table>
					<h3>Monthly Income and Combined Housing Expense Information</h3>
					{{ form4 }}
				</table>
				<table>
					<h3>Assets and Liabilities</h3>
					{{ form5 }}
				</table>
				<table>
					<h3>Declarations</h3>
					{{ form6 }}
				</table>
				<table>
					<h3>Acknowledgement and Agreement</h3>
					{{ form7 }}
				</table>
				<input type="submit" value="Submit" />
			</form>
{% endblock %}