{% load staticfiles %}

{% include 'header.html' %}

{% block title %}Signup{% endblock %}

<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
<link href="{% static 'css/tlc.css' %}" rel="stylesheet" />
<link href="{% static 'admin/css/base.css' %}" rel="stylesheet"/>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>
#background {
	margin-top: 32px;
}

#background .left {
	float: left;
}

#background .right {
	float: right;
}

#signup-form {
	margin: 10% 0 0 5%;
	text-align: center;
	display: block;
}

#signup-form h1 {
	color: #F79A0E;
	font-size: 45px;
	font-weight: bold;
}

#signup-form .helptext {
	font-size: 12px;
	font-weight: lighter;
	color: #2a2a2a;
}

#signup-form ul {
	display: none;
}

#signup-form .errorlist {
	display: block;
}

#signup-form button {
	background-color: #003448;
	color: #F79A0E;
	border: 0;
	padding: 10px 25px 10px 25px;
	border-radius: 15px;
	text-decoration: none;
	font-size: 20px;
	font-weight: bolder;
	margin: 2.5% 15% 0 15%;
}

</style>
<div id="background">
	<div class="left">
		<img src="{% static 'img/landing-bg1.jpg' %}">
	</div> <!-- left -->
	<div class="right">
		<img src="{% static 'img/landing-bg2.jpg' %}">
	</div> <!-- right -->
</div> <!-- background -->

<div id="signup-form">
	<h1>The LendingCoin</h1>
	<div class="container">
		<form method="post">
			{% csrf_token %}
			{% for field in form %}
   			<div class="fieldWrapper">
       			{{ field.errors }}
       			{{ field.label_tag }} {{ field }}
				{% if field.help_text %}
				<p class="help">{{ field.help_text|safe }}</p>
				{% endif %}
			    </div>
			{% endfor %}
			<!-- {{ form.as_p }} -->
			<button id="signup_submit" type="submit">Sign Up</button>
		</form>
	</div> <!-- container -->
</div> <!-- login-form -->

<!-- Email Validation Script -->
<script>

document.getElementById('id_username').setAttribute('onchange', 'test_username()')

function test_username(){
	var user_email = document.getElementById('id_username').value;
	var regex = RegExp('^(.+)@(.+){2,}\.(.+){2,}$');
	var submit = document.getElementById('signup_submit');
	
	$.ajax({
		type: "POST",
		url: "/signup/",
		data: {  
			csrfmiddlewaretoken: "{{ csrf_token }}", //django needs this
		},
		timeout:0,
		success: function(data){
			if (user_email === ""){
				try{
					error.innerHTML = '';
				} catch (e) {}
				submit.disabled = true;
			} else if(regex.test(user_email) === false){
				// invalid email
				error = document.createElement('p');
				error.innerHTML = '<p id="username_error" style="color:#ba2121;font-size:13px;">Please enter a valid email address.</p>';
				div = document.getElementById('id_username').parentElement;
				div.insertBefore(error, div.firstChild.nextElementSibling);
				submit.disabled = true;
			} else {
				try{
					error.innerHTML = '';
				} catch (e) {}
				submit.disabled = false;
			}
		}
	})
};
</script>
{% include "footer.html" %}
