{% extends 'base.html' %}

{% block title %}TLC: Tier 2 Application{% endblock %}

{% block content %}
			<h2>Tier 2 Application</h2>
			<form action="" method="post">
				<table>
					{% csrf_token %}
					<h3>Business Information</h3>
					{{ form }}
				</table>
				<table>
					<h3>Construction Information (if applicable)</h3>
					{{ form1 }}
				</table>
				<table>
					<h3>Refinance Information (if applicable)</h3>
					{{ form2 }}
				</table>
				<table>
					<h3>Property Information</h3>
					{{ form3 }}
				</table>
				<table>
					<h3>Employment Information</h3>
					{{ form4 }}
				</table>
				<table>
					<h3>Bank Account(s)</h3>
					{{ form5 }}
				</table>
				<table>
					<h3>Bond(s)</h3>
					{{ form6 }}
				</table>
				<table>
					<h3>Stock(s)</h3>
					{{ form7 }}
				</table>
				<table>
					<h3>Vehicle(s)</h3>
					{{ form8 }}
				</table>
				<table>
					<h3>Asset Summary</h3>
					{{ form9 }}
				</table>
				<table>
					<h3>Debt(s)</h3>
					{{ form10 }}
				</table>
				<table>
					<h3>Managed Properties</h3>
					{{ form11 }}
				</table>
				<table>
					<h3>Alimony</h3>
					{{ form12 }}
				</table>
				<table>
					<h3>Child Support</h3>
					{{ form13 }}
				</table>
				<table>
					<h3>Separate Maintenance</h3>
					{{ form14 }}
				</table>
				<table>
					<h3>Liability Summary</h3>
					{{ form15 }}
				</table>
				<table>
					<h3>Assets & Liabilities Summary</h3>
					{{ form16 }}
				</table>
				<table>
					<h3>Borrower Information</h3>
					{{ form17 }}
				</table>
				<table>
					<h3>Credit Request</h3>
					{{ form18 }}
				</table>
				<table>
					<h3>Declarations</h3>
					{{ form19 }}
				</table>
				<table>
					<h3>Transaction Details</h3>
					{{ form20 }}
				</table>
				<table>
					<h3>Acknowledgement & Agreement</h3>
					{{ form21 }}
				</table>
				<input type="submit" value="Submit" />
			</form>
{% endblock %}