{% extends 'base.html' %}

{% block title %}TLC: Tier 1 Application{% endblock %}

{% block content %}
			<h2>Tier 1 Application</h2>
			<form action="" method="post">
				<table>
					{% csrf_token %}
					<h3>Business Information</h3>
					{{ form }}
				</table>
				<table>
					<h3>Construction Information (if applicable)</h3>
					{{ form1 }}
				</table>
				<table>
					<h3>Refinance Information (if applicable)</h3>
					{{ form2 }}
				</table>
				<table>
					<h3>Property Information</h3>
					{{ form3 }}
				</table>
				<table>
					<h3>Borrower Information</h3>
					{{ form4 }}
				</table>
				<table>
					<h3>Credit Request</h3>
					{{ form5 }}
				</table>
				<table>
					<h3>Declarations</h3>
					{{ form6 }}
				</table>
				<table>
					<h3>Transaction Details</h3>
					{{ form7 }}
				</table>
				<table>
					<h3>Acknowlegement and Agreement</h3>
					{{ form8 }}
				</table>
				<input type="submit" value="Submit" />
			</form>
{% endblock %}