{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		{{ debug }}
		{% for tx, info in transaction.items %}
			<p><strong>Transaction:</strong> <a href='https://{{ net }}etherscan.io/tx/{{ tx }}' target='_blank'>{{ tx }}</a></p>
			<p><strong>Function:</strong> {{ info.function }}</p>
			<p><strong>From:</strong> <a href='https://{{ net }}etherscan.io/address/{{ info.from }}' target='_blank'>{{ info.from|truncatechars:20 }}</a></p>
			<p><strong>To:</strong> <a href='https://{{ net }}etherscan.io/address/{{ info.to }}' target='_blank'>{{ info.to|truncatechars:20 }}</a></p>
			{% if info.hint %}
				<p><strong>Data:</strong> {{ info.hint }}</p>
				<p>{{ info.data }}</p>
			{% else %}
				<p><strong>Data:</strong> {{ info.data }}</p>
			{% endif %}
			<button type='button' class='btn-sm btn-default' data-toggle='modal' data-target='#{{ tx }}'>View Raw</button></p>
			<div class='modal fade' id='{{ tx }}' tabindex='-1' role='dialog' aria-labelledby='rawDataLabel' aria-hidden='true'>
				<div class='modal-dialog modal-lg' style='background-color:white;' role='document'>
					<div class='modal-header'>
						<h2 class='modal-title' id='rawDataLabel'>Raw Data</h5>
						<button type='button' class='close' data-dismiss='modal' aria-label='Close'>
							<span aria-hidden='true'>&times;</span>
						</button>
					</div>
					<div class='modal-body'>
						<p><strong>Transaction:</strong> {{ tx }}</p>
						<p><strong>Function:</strong> {{ info.f_raw }}</p>
						<p><strong>From:</strong> {{ info.from }}</p>
						<p><strong>To:</strong> {{ info.to }}</p>
						<p><strong>Data:</strong> {{ info.data }}</p>
						<p style="word-break: break-all;"><strong>Tx Input:</strong> {{ info.input }}</p>
					</div>
				</div>
			</div>
		<br>
		{% endfor %}
	</div>
</div>
{% endblock content %}
