<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="info">
                    <h5 class="title">Explore</h5>
                    <nav>
                        <ul>
                            <li>
                                <a href="{% url 'index' %}">HOME</a>
                            </li>
                            <li>
                                <a href="{% url 'roadmap' %}">ROADMAP</a>
                            </li>
                            <li>
                                <a href="{% url 'token' %}">TOKEN</a>
                            </li>
                            <li>
                                <a href="{% url 'demo' %}">DEMO</a>
                            </li>
                            <li>
                                <a href="/static/images/greenpaper.pdf">GREENPAPER</a>
                            </li>
                            <li>
                                <a href="{% url 'team' %}">TEAM</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        <div class="col-sm-4 col-md-4">
   <!--                 <div class="info">
                    <h5 class="title"> Help and Support</h5>
                     <nav>
                        <ul>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                            <li>
                                <a href="#">How it works</a>
                            </li>
                            <li>
                                <a href="#">Terms &amp; Conditions</a>
                            </li>
                            <li>
                                <a href="#">Company Policy</a>
                            </li>
                            <li>
                                <a href="#">Money Back</a>
                            </li>
                        </ul>
                    </nav>
                </div> -->
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="info">
                    <h5 class="title">Latest News</h5>
                    <nav>
                        <ul>
			    <li>
                                <a href="#">2018-01-27 New website live, new whitepaper. Removed greenpaper.</a>
                            </li>
			    <li>
                                <a href="#">2018-01-19 Starting offices in Boise, Idaho for support</a>
                            </li>
                            <li>
                                <a href="#">2017-12-20 Token Contract is live. Will add gift codes next!</a>
                            </li>
                            <li>
                                <a href="#">2017-12-18 Bank account, Nevada Corporation, state filing all finalized.</a>
                            </li>
                            <li>
                                <a href="#">2017-12-12 Paypal delayed live briefly. until Nevada TaxID+Bank account filing done. Site+demo updates. Whitepaper and Greenpaper pdf.</a>
                            </li>
                            <li>
                                <a href="/purchase-gift-card/">2017-12-10 Gift promo code is almost ready, paypal doesn't work yet.</a>
                            </li>
                            <li>
				                <a href="#">2017-12-09 Referral network is live!</a>
                            </li>
                            <li>
                                <a href="#">2017-12-07 Quiet website launch. We have been very busy!</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
 <!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {}; window.__lc.license = 9334765; (function() { var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true; lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})(); </script>
<!-- End of LiveChat code --> 

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111556460-1"></script>
<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-111556460-1'); </script>

        <hr>
        <div class="copyright">
              © 2017-2018 Mediacoin Inc
        </div>
    </div>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(101100346); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101100346ns.gif" /></p></noscript>

</footer>
