{% load staticfiles %}
<!--<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" class="style-jg8f4ha8" style="width: 980px; position: fixed; min-width: 980px; margin-left: 0px; z-index: 50; margin-top: 0px; top: 0px; height: 77px; left: 0px;" color-on-scroll="200">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <!--<div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a href="{% url 'home' %}" class="navbar-brand">
                <img src="{% static 'images/logo.png' %}">
            </a>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right navbar-uppercase">
                <li>
                    <a href="https://www.thelendingcoin.com/">Home</a>
                </li>
                <li>
                    <a href="https://www.thelendingcoin.com/">About</a>
                </li>
                <li>
                    <a href="https://www.thelendingcoin.com/">Roadmap</a>
                </li>
                <li>
                    <a href="{https://www.thelendingcoin.com/">Team</a>
                </li>
                <li>
                    <a href="https://www.thelendingcoin.com/accredited">Contact</a>
                </li>
                <li>
                    <a href="https://www.thelendingcoin.com/faq">FAQ</a>
                </li>-->
                {% if user.is_authenticated %}
		<li>
			<a href="{% url 'loan_apply' %}">Apply for a Loan</a>
		</li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="https://www.thelendingcoin.com/signupnow">Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>


