{% load staticfiles %}
<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" class="style-jg8f4ha8" style="position: fixed; margin-left: 0px; z-index: 50; margin-top: 0px; margin-bottom: 0px; top: 0px; height: 77px; left: 0px;" color-on-scroll="200">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container">
        <div class="navbar-header col-md-1">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a href="{% url 'home' %}" class="navbar-brand">
                <img src="{% static 'img/logo.png' %}">
            </a>
        </div>        
        <div class="navbar-header col-md-1">&nbsp;</div>
        <div class="collapse navbar-collapse col-md-8">

            <ul class="nav navbar-nav navbar-uppercase">
                <li>
                    <a href="https://www.thelendingcoin.com/">Home</a>
                </li>
                <li>
                    <a href="https://www.thelendingcoin.com/">About</a>
                </li>
                <li>
                    <a href="https://www.thelendingcoin.com/">Roadmap</a>
                </li>
                <li>
                    <a href="https://www.thelendingcoin.com/">Team</a>
                </li>
                <li>
                    <a href="https://www.thelendingcoin.com/accredited">Contact</a>
                </li>
                <li>
                    <a href="https://www.thelendingcoin.com/faq">FAQ</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="https://www.thelendingcoin.com/signupnow">Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
	{% if user.is_authenticated %}
	<p style="color: #fff; opacity: 0.75; float: right; padding-top: 10px; font-size: 15px;">{{ request.user }}</p>
	{% endif %}
        <div class="navbar-header col-md-2">&nbsp;</div>
        <!-- /.navbar-collapse -->
    </div>
</nav>


