<ul>
	{% if user.is_staff %}
		<!--<li><a href="/dashboard">Loan Officer Dashboard</a></li>-->
		<li><a href="/">Home</a></li>
		<li><a href="/merge_requests/">Merge Requests</a></li>
		<li><a href="/workflow/">Workflow</a></li>
		<li><a href="/credit_verify/">Credit & Verify</a></li>
		<li><a href="/package_loan/">Package Loan</a></li>
		<li><a href="/manage_loan/">Manage Loan</a></li>
		<!-- are the next 3 elements sub-categories of manage_loan? -->
		<li><a href="/loan_payments/">Payments</a></li>
		<li><a href="/payment_history/">Pay History</a></li>
		<li><a href="/loan_accounting/">Accounting</a></li>
	{% else %}
		<li><a href="/">Home</a></li>
		<li><a href="/account.html">Account</a></li>
		<li><a href="/loan.html">Loans</a></li>
		<li><a href="/loan_apply.html">Apply for Loan</a></li>
		<li><a href="/wallet.html">Wallet</a></li>
		<li><a href="/payhistory.html">Payment History</a></li>
		<li><a href="/tier_one_app">Tier 1 Apply</a></li>
		<li><a href="/tier_two_app">Tier 2 Apply</a></li>
	{% endif %}
</ul>