        {% if user.is_staff %}
<ul>
                <!--<li><a href="/dashboard">Loan Officer Dashboard</a></li>-->
                <li><a href="/">Home</a></li>
                <li><a href="/loan_requests">Loan Requests</a></li>
                <li><a href="/workflow">Workflow</a></li>
                <li><a href="/credit_verify">Credit & Verify</a></li>
                <li><a href="/certify">Certify Loan</a></li>
		<li><a href="/submit_loan">Submit a Loan</a></li>
                <li><a href="/manage_loan">Manage Loan</a></li>
                <!-- are the next 3 elements sub-categories of manage_loan? -->
                <li><a href="/loan_payments">Loan Payments</a></li>
                <li><a href="/payment_history">Pay History</a></li>
                <li><a href="/loan_accounting">Accounting</a></li>
		<!-- Test links below - will eventually be removed -->
                <li><a href="/basic_app">Basic Application</a></li>
                <li><a href="/standard_app">Standard Application</a></li>
</ul>
        {% endif %}
<ul>
                <li><a href="/">Home</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/loan">Loans</a></li>
                <li><a href="/loan_apply">Apply for Loan</a></li>
                <li><a href="/wallet">Wallet</a></li>
                <li><a href="/payhistory">Payment History</a></li>
</ul>