<div id='sidebar' class='col-sm-12 col-md-3'>
{% if user.is_staff %}
	<ul class='officer_dash'>
		<!--<li><a href="/dashboard">Loan Officer Dashboard</a></li>-->
		<li><a href="/">Home</a></li>
		<li><a href="/loan_requests">Loan Requests</a></li>
		<li><a href="/workflow">Workflow</a></li>
		<li><a href="/credit_verify">Credit & Verify</a></li>
		<li><a href="/certify">Certify Loan</a></li>
		<li><a href="/submit_loan">Submit a Loan</a></li>
		<li><a href="/manage_loan">Manage Loans</a></li>
		<!-- are the next 3 elements sub-categories of manage_loan? -->
		<li><a href="/loan_payments">Loan Payments</a></li>
		<li><a href="/payment_history">Pay History</a></li>
		<li><a href="/loan_accounting">Accounting</a></li>
		<!-- Test links below - will eventually be removed -->
		<!-- <li><a href="/basic_app">Basic Application</a></li> -->
		<li><a href="/standard_app">Standard Application</a></li>
		<li><a href="/event_viewer">Event Viewer</a></li>
		<li><a href="/bc_explorer">Explorer</a></li>
	</ul>
{% endif %}
{% for group in user.groups.all %}
	{% if group.name == 'Admin' %}
		<ul class='admin_dash'>
			<li><a href="/add_vendor">Add Vendor</a></li>
		</ul>
	{% endif %}
{% endfor %}
<ul class='user_dash'>
	<li><a href="/">Home</a></li>
	<li><a href="/account">Account</a></li>
	<li><a href="/loan">Loans</a></li>
	<li><a href="/loan_apply">Contact Form</a></li>
	<li><a href="/wallet">Wallet</a></li>
	<li><a href="/payhistory">Payment History</a></li>
</ul>
</div> <!-- sidebar -->
