{% extends 'base.html' %}

{% block content %}
<h1>Convert Application:</h1>

<a href="/submit_loan" class="btn btn-default" style="margin-bottom: 10px">Back</a>

<h1><u>Confirm Application Information</u></h1>

<p><b>Application ID: </b>{{ app.id }}</p>
<p><b>User: </b>{{ app.user.username }}</p>
<p><b>Tier: </b>{{ app.get_tier_display }}</p>

<br>
<h2><u>Property Information</u></h2>
	<p><strong>Address:</strong> {{ app.property.address }}</p>
	<p><strong>Number of Units:</strong> {{ app.property.no_units }}</p>
	<p><strong>Year Built:</strong> {{ app.property.year_built }}</p>
	{% if app.property.construction_loan.total %}
		<p><u><strong>Construction Loan:</strong> {{ app.property.construction_loan }}</u></p>
		<div style="margin-left: 25px;">
			<p><strong>Year Acquired:</strong> {{ app.property.construction_loan.year_acquired }}</p>
			<p><strong>Original Cost:</strong> {{ app.property.construction_loan.original_cost }}</p>
			<p><strong>Existing Liens Amount:</strong> {{ app.property.construction_loan.amt_existing_liens }}</p>
			<p><strong>Present Value:</strong> {{ app.property.construction_loan.present_value }}</p>
			<p><strong>Improvement Costs:</strong> {{ app.property.construction_loan.improve_cost }}</p>
			<p><strong>Total:</strong> {{ app.property.construction_loan.total }}</p>
		</div>
	{% else %}
		<p><strong>Construction Loan:</strong> N/a</p>
	{% endif %}
	<p><strong>Title Name(s):</strong> {{ app.property.title_names }}</p>
	
	<br>
	<br>
	<h2><u>Borrower Information</u></h2>
	<p><strong>Application Type:</strong> {{ app.borrower.get_application_type_display }}</p>
	<p><strong>First Name:</strong> {{ app.borrower.name_first }}</p>
	<p><strong>Last Name:</strong> {{ app.borrower.name_last }}</p>
	<p><u><strong>Business Name:</strong> {{ app.borrower.business.bus_name }}</u></p>
		<div style="margin-left:25px">
			<p><strong>Business Description:</strong> {{ app.borrower.business.bus_description }}</p>
			<p><strong>Income:</strong> ${{ app.borrower.business.income|floatformat:2}}</p>
			<p><strong>Rent:</strong> ${{ app.borrower.business.rent|floatformat:2 }}</p>
			<p><strong>First Mortgage Amount:</strong> ${{ app.borrower.business.first_mortgage|floatformat:2 }}</p>
			{% if app.borrower.business.other_mortgage_amt %}
				<p><strong>Other Mortgage Amount:</strong> ${{ app.borrower.business.other_mortgage|floatformat:2 }}</p>
				<p><strong>Other Mortgage Description:</strong> {{ app.borrower.business.other_mortgage_description }}</p>
			{% else %}
				<p><strong>Other Mortgage:</strong> N/a</p>
			{% endif %}
			<p><strong>Hazard Insurance:</strong> ${{ app.borrower.business.hazard_insur|floatformat:2 }}</p>
			<p><strong>Real Estate Taxes:</strong> ${{ app.borrower.business.real_estate_taxes|floatformat:2 }}</p>
			<p><strong>Net Rental Income:</strong> ${{ app.borrower.business.net_rental|floatformat:2 }}</p>
			{% if app.borrower.business.income_other %}
				<p><strong>Other Income Total:</strong> ${{ app.borrower.business.income_other|floatformat:2 }}</p>
				<p><strong>Other Income Description:</strong> {{ app.borrower.business.income_other_description }}</p>
			{% else %}
				<p><strong>Other Income:</strong> N/a</p>
			{% endif %}
			<strong>Income Total:</strong> ${{ app.borrower.business.income_total|floatformat:2 }}</p>
			{% if app.borrower.business.expense_other_total %}
				<p><strong>Other Expense Total:</strong> ${{ app.borrower.business.expense_other_total|floatformat:2 }}</p>
				<p><strong>Other Expense Description:</strong> {{ app.borrower.business.expense_other_description }}</p>
			{% else %}
				<p><strong>Other Expenses:</strong> N/a</p>
			{% endif %}
			<p><strong>Expense Total</strong> ${{ app.borrower.business.expense_total|floatformat:2 }}</p>
		</div>
	<p><strong>Applicant Type:</strong> {{ app.borrower.get_applicant_type_display }}</p>
	<p><strong>Filing Type:</strong> {{ app.borrower.get_filing_type_display }}</p>
	<p><strong>DBA Name:</strong> {{ app.borrower.dba_name }}</p>
	<p><strong>Borrower Type:</strong> {{ app.borrower.get_borrower_type_display }}</p>
	<p><strong>Title:</strong> {{ app.borrower.title }}</p>
	<p><strong>Authorization Status:</strong> {{ app.borrower.authorized }}</p>
	<p><strong>Social Security Number:</strong> {{ app.borrower.ssn }}</p>
	<p><strong>TIN Number:</strong> {{ app.borrower.tin_no }}</p>
	<p><strong>Date of Birth:</strong> {{ app.borrower.dob }}</p>
	<p><strong>Marital Status:</strong> {{ app.borrower.get_marital_status_display }}</p>
	<p><u><strong>Present Address:</strong> {{ app.borrower.present_addr }}</u></p>
		<div style="margin-left: 25px">
			<p><strong>Rent/Own:</strong> {{ app.borrower.get_own_rent_display }}</p>
			<p><strong>Years at Address:</strong> {{ app.borrower.living_yrs }}</p>
		</div>
	<p><strong>Mailing Address:</strong> {{ app.borrower.mail_addr }}</p>
	<p><strong>Pricipal Office Address:</strong> {{ app.borrower.principal_office_addr }}</p>
	<p><strong>Organization's State:</strong> {{ app.borrower.get_organizations_state_display }}</p>
	{% if app.borrower.former_addr %}
		<p><u><strong>Former Address:</strong> {{ app.borrower.former_addr }}</u></p>
		<div style="margin-left: 25px">
			<p><strong>Rent/Own:</strong> {{ app.borrower.get_former_own_rent_display }}</p>
			<p><strong>Years at Address:</strong> {{ app.borrower.former_yrs_lived }}</p>
		</div>
	{% endif %}
	<p><u><strong>Declarations:</strong> {{ app.borrower.declarations }}</u></p>
		<div style="margin-left: 25px">
			<p><strong>Outstanding Judgements:</strong> {{ app.borrower.declarations.outstanding_judgements }}</p>
			<p><strong>Bankrupt:</strong> {{ app.borrower.declarations.bankrupt }}</p>
			<p><strong>Foreclosure:</strong> {{ app.borrower.declarations.forclosed }}</p>
			<p><strong>Lawsuit(s):</strong> {{ app.borrower.declarations.lawsuit }}</p>
			<p><strong>Obligated Foreclosure:</strong> {{ app.borrower.declarations.obligated_forclosure }}</p>
			<p><strong>In Delinquent or In Default:</strong> {{ app.borrower.declarations.delinquent_indefault }}</p>
			<p><strong>Alimony Payments:</strong> {{ app.borrower.declarations.alimony }}</p>
			<p><strong>Child Support Payments:</strong> {{ app.borrower.declarations.child_support }}</p>
			<p><strong>Seperate Maintenance Payments:</strong> {{ app.borrower.declarations.seperate_maintenance }}</p>
			<p><strong>Down Payment Borrowed:</strong> {{ app.borrower.declarations.borrowed_down_payment }}</p>
			<p><strong>Co-maker or Endorser on a note:</strong> {{ app.borrower.declarations.co_maker_endorser }}</p>
			<p><strong>U.S. Citizen:</strong> {{ app.borrower.declarations.us_citizen }}</p>
			<p><strong>Permanent Residence Alien:</strong> {{ app.borrower.declarations.permanent_res_alien }}</p>
			{% if app.borrower.declarations.explanation %}
				<p><strong>Explaination:</strong> {{ app.borrower.declarations.explanation }}</p>
			{% else %}
				<p><strong>Explaination:</strong> N/a</p>
			{% endif %}
		</div>
	{% if app.tier == 1 %}
		<p><u><strong>Asset Summary</strong></u></p>
			<div style="margin-left: 25px;">
				<p><u><strong>Employment Income Information:</strong></u></p>
				<div style="margin-left: 25px;">
					<p><strong>Name of Employer:</strong> {{ app.asset_summary.employment_income.name }}</p>
					<p><strong>Address:</strong> {{ app.asset_summary.employment_income.address }}</p>
					<p><strong>Self Employment:</strong> {{ app.asset_summary.employment_income.self_employed }}</p>
					<p><strong>Years Worked at Employer:</strong> {{ app.asset_summary.employment_income.yrs_worked }}</p>
					<p><strong>Years Worked in Profession:</strong> {{ app.asset_summary.employment_income.yrs_in_profession }}</p>
					<p><strong>Position:</strong> {{ app.asset_summary.employment_income.position }}</p>
					<p><strong>Title:</strong> {{ app.asset_summary.employment_income.title }}</p>
					<p><strong>Business Type:</strong> {{ app.asset_summary.employment_income.business_type }}</p>
					<p><strong>Business Phone:</strong> {{ app.asset_summary.employment_income.business_phone }}</p>
					<p><strong>Income:</strong> ${{ app.asset_summary.employment_income.income|floatformat:2 }}</p>
					{% if app.asset_summary.employment_income.other_emp_info %}
						<p><u><strong>Other Employment Information:</strong></u></p>
						<div style="margin-left: 25px;">
							<p><strong>Name of Employer:</strong> {{ app.asset_summary.employment_income.other_emp_info.name }}</p>
							<p><strong>Address:</strong> {{ app.asset_summary.employment_income.other_emp_info.address }}</p>
							<p><strong>Self Employment:</strong> {{ app.asset_summary.employment_income.other_emp_info.self_employed }}</p>
							<p><strong>Years Worked at Employer:</strong> {{ app.asset_summary.employment_income.other_emp_info.yrs_worked }}</p>
							<p><strong>Years Worked in Profession:</strong> {{ app.asset_summary.employment_income.other_emp_info.yrs_in_profession }}</p>
							<p><strong>Position:</strong> {{ app.asset_summary.employment_income.other_emp_info.position }}</p>
							<p><strong>Title:</strong> {{ app.asset_summary.employment_income.other_emp_info.title }}</p>
							<p><strong>Business Type:</strong> {{ app.asset_summary.employment_income.other_emp_info.business_type }}</p>
							<p><strong>Business Phone:</strong> {{ app.asset_summary.employment_income.other_emp_info.business_phone }}</p>
							<p><strong>Income:</strong> {{ app.asset_summary.employment_income.other_emp_info.income }}</p>
						</div>
					{% endif %}
				</div>
				<p><u><strong>Bank Account</strong></u></p>
				<div style="margin-left: 25px">
					<p><strong>Name:</strong> {{ app.asset_summary.acct1.name }}</p>
					<p><strong>Branch Address:</strong> {{ app.asset_summary.acct1.address }}</p>
					<p><strong>Account Number:</strong> {{ app.asset_summary.acct1.acct_no }}</p>
					<p><strong>Amount:</strong> ${{ app.asset_summary.acct1.amount|floatformat:2 }}</p>
				</div>
				<p><u><strong>Managed Property</strong></u></p>
				<div style="margin-left: 25px">
					<p><strong>Schedule of Real Estate:</strong> {{ app.asset_summary.managed_property.real_estate_schedule }}</p>
					<p><strong>Address of Property:</strong> {{ app.asset_summary.managed_property.property_address }}</p>
					<p><strong>Type of Property:</strong> {{ app.asset_summary.managed_property.property_type }}</p>
					<p><strong>Present Market Value:</strong> ${{ app.asset_summary.managed_property.present_market_value|floatformat:2 }}</p>
					<p><strong>Mortgage Amount:</strong> ${{ app.asset_summary.managed_property.mortgage_amt|floatformat:2 }}</p>
					<p><strong>Liens Amount:</strong> ${{ app.asset_summary.managed_property.liens_amt|floatformat:2 }}</p>
					<p><strong>Gross Rental Income:</strong> ${{ app.asset_summary.managed_property.gross_rental_income|floatformat:2 }}</p>
					<p><strong>Mortgage Payments:</strong> ${{ app.asset_summary.managed_property.mortgage_payments|floatformat:2 }}</p>
					<p><strong>Miscellaneous Payments:</strong> {{ app.asset_summary.managed_property.misc_payments }}</p>
					<p><strong>Net Rental Income:</strong> ${{ app.asset_summary.managed_property.net_rental_income|floatformat:2 }}</p>
				</div>
				<p><strong>Stock Value:</strong> ${{ app.asset_summary.stock_value|floatformat:2 }}</p>
				<p><strong>Bond Value:</strong> ${{ app.asset_summary.bond_value|floatformat:2 }}</p>
				<p><strong>Life Insurance Value:</strong> ${{ app.asset_summary.life_ins_value|floatformat:2 }}</p>
				<p><strong>Face Amount:</strong> ${{ app.asset_summary.face_amount|floatformat:2 }}</p>
				<p><strong>Subtotal Liquid Assets:</strong> ${{ app.asset_summary.subtotal_liquid|floatformat:2 }}</p>
				<p><strong>Vested Interest in Retirement Fund:</strong> ${{ app.asset_summary.vested_interest|floatformat:2 }}</p>
				<p><strong>Net Worth of Business(es) Owned:</strong> ${{ app.asset_summary.net_worth|floatformat:2 }}</p>
				{% if app.asset_summary.other_amt_total %}
					<p><strong>Other Assets (itemized):</strong> {{ app.asset_summary.other_description }}</p>
					<p><strong>Other Assets Total:</strong> ${{ app.asset_summary.other_amt_total|floatformat:2 }}</p>
				{% endif %}
				<p><strong>Assets Total:</strong> ${{ app.asset_summary.assets_total|floatformat:2 }}</p>
			</div>
	{% endif %}
	
	<br>
	<br>
	<h2><u>Credit Request</u></h2>
	<p><strong>Borrower:</strong> {{ credit.borrower }}</p>
	<p><strong>Amount Requested:</strong> ${{ credit.amt_requested|floatformat:2 }}</p>
	<p><strong>Term Requested:</strong> {{ credit.term_requested }}</p>
	<p><strong>Loan Type:</strong> {{ credit.get_loan_type_display }}</p>
	<p><strong>Request Purpose:</strong> {{ credit.get_request_purpose_display }}</p>
	<p><strong>Submission Date:</strong> {{ credit.submission_date }}</p>
	
	
	<br>
	<br>
	<h2><u>Acknowledge / Agree</u></h2>
	{% if app.acknowledge.borrower %}
		<p><strong>Borrower:</strong> {{ app.acknowledge.borrower }}</p>
	{% elif app.acknowledge.coborrower %}
		<p><strong>Coborrower:</strong> {{ app.acknowledge.coborrower }}</p>
	{% endif %}
	<p><strong>Applicant's Acknowledgment & Agreement:</strong> {{ app.acknowledge.applicant_agree }}</p>
	<p><strong>Date:</strong>{{ app.acknowledge.date }}</p>

<br>
<br>
<h2>Confirm and Convert</h2>
<a href="c2l{{ app.id }}/convert" class="btn btn-default">Submit</a>
{% endblock content %}