{% extends '../base.html' %}

{% block content %}
<h1>Loan Requests:</h1>
<pre><caption>This is the page where staff can recieve incoming requests for Loans. 
There are 5 statuses that these requests can be changed to:
	- Sleep
	- Active (default)
	- Priority
	- Basic (Deprecated)
	- Standard
	
Sleep - Requests that will be 'put on the backburner'
Active - Requests that have been submitted, but not sorted. This is the default status.
Priority - Requests that will likely be assigned to fill out the Basic or Standard Application
Basic (Deprecated) - Requests that have been assigned to a Basic Application requirement
Standard - Requests that have been assigned to a Standard Application requirement
</caption></pre>

	{% if sleep %}
		{% if sleep_vis == True%}
			<a href="/loan_requests/?sleep_vis=0">Hide Slept Requests</a>
		{% else %}
			<a href="/loan_requests/?sleep_vis=1">View Slept Requests</a>
		{% endif %}
	{% endif %}
	<br>
	<br>
	<h3><u>Priority Requests:</u></h3>
	{% if priority %}
		<table>
			<tr>
				<th>User</th>
				<th>Address of Property</th>
				<th>Contact Person</th>
				<th>Current Mortgage Balance</th>
				<th>Mortgage Amount Desired</th>
				<th>Phone Number</th>
				<th>Email Address</th>
				<th>Borrower Type</th>
				<th>Date Last Modified</th>
				<th>Status</th>
			</tr>
			<tr>
			{% for app in priority %}
			<tr>
				<td>{{ app.user.username }}</td>
				<td>{{ app.property.property_address }}</td>
				<td>{{ app.contact.name_last }}, {{ app.contact.name_first }}</td>
				<td>${{ app.curr_mortgage.current_balance | floatformat:2  }}</td>
				<td>${{ app.desired_mortgage.amount_desired | floatformat:2 }}</td>
				<td>{{ app.contact.phone }}</td>
				<td>{{ app.contact.email_address }}</td>
				<td>{{ app.borrower.get_type_display }}</td>
				<td>{{ app.submitted }}</td>
				<td style="border-right: 1px solid black">{{ app.get_status_display }}<br> <a href="sta_{{ app.id }}" >Update</a></td>
				<td><a href="det_{{ app.id }}">View Details</a></td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>There are no priority requests</p>
	{% endif %}
	
	<br>
	<h3><u>Active Requests:</u></h3>
	{% if active %}
		<table>
			<tr>
				<th>User</th>
				<th>Address of Property</th>
				<th>Contact Person</th>
				<th>Current Mortgage Balance</th>
				<th>Mortgage Amount Desired</th>
				<th>Phone Number</th>
				<th>Email Address</th>
				<th>Borrower Type</th>
				<th>Date Last Modified</th>
				<th>Status</th>
			</tr>
			<tr>
			{% for app in active %}
			<tr>
				<td>{{ app.user.username }}</td>
				<td>{{ app.property.property_address }}</td>
				<td>{{ app.contact.name_last }}, {{ app.contact.name_first }}</td>
				<td>${{ app.curr_mortgage.current_balance | floatformat:2  }}</td>
				<td>${{ app.desired_mortgage.amount_desired | floatformat:2 }}</td>
				<td>{{ app.contact.phone }}</td>
				<td>{{ app.contact.email_address }}</td>
				<td>{{ app.borrower.get_type_display }}</td>
				<td>{{ app.submitted }}</td>
				<td style="border-right: 1px solid black">{{ app.get_status_display }}<br> <a href="sta_{{ app.id }}" >Update</a></td>
				<td><a href="det_{{ app.id }}">View Details</a></td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>There are no active requests</p>
	{% endif %}
	
	{% if sleep_vis %}
		<br>
		<br>
		<h3><u>Slept Requests:</u></h3>
		{% if sleep %}
			<table>
			<tr>
				<th>User</th>
				<th>Address of Property</th>
				<th>Contact Person</th>
				<th>Current Mortgage Balance</th>
				<th>Mortgage Amount Desired</th>
				<th>Phone Number</th>
				<th>Email Address</th>
				<th>Borrower Type</th>
				<th>Date Last Modified</th>
				<th>Status</th>
			</tr>
			<tr>
			{% for app in sleep %}
			<tr>
				<td>{{ app.user.username }}</td>
				<td>{{ app.property.property_address }}</td>
				<td>{{ app.contact.name_last }}, {{ app.contact.name_first }}</td>
				<td>${{ app.curr_mortgage.current_balance | floatformat:2  }}</td>
				<td>${{ app.desired_mortgage.amount_desired | floatformat:2 }}</td>
				<td>{{ app.contact.phone }}</td>
				<td>{{ app.contact.email_address }}</td>
				<td>{{ app.borrower.get_type_display }}</td>
				<td>{{ app.submitted }}</td>
				<td style="border-right: 1px solid black">{{ app.get_status_display }}<br> <a href="sta_{{ app.id }}" >Update</a></td>
				<td><a href="det_{{ app.id }}">View Details</a></td>
			</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>There are no slept requests</p>
		{% endif %}
	{% endif %}
{% endblock content %}
