{% extends '../base.html' %}

{% block content %}
<a href='..' class='btn btn-default'>Back</a>

<table>
	<caption>Loans</caption>
	<tr>
		<th>User</th>
		<th>Loan ID</th>
		<th>Payment Due Date</th>
		<th>Payment Amount Due</th>
	</tr>
	{% if loans %}
		{% for loan in loans %}
		<tr>
			<td>{{ loan.user }}</td>
			<td>{{ loan.id }}</td>
			<td>{{ loan.principal }}</td>
			<td>{{ loan.payment_due_date }}</td>
			<td><a href='#' class='btn btn-default'>View Details</a></td>
		</tr>
		{% endfor %}
	{% else %}
		<tr>
			<td>TEST ROW</td>
		</tr>
		<tr>
			<td>loan.user</td>
			<td>loan.id</td>
			<td>loan.payment_due_date</td>
			<td>loan.payment_due</td>
			<td><a href='#' class='btn btn-default'>View Details</a></td>
		</tr>
	{% endif %}
	
{% endblock content %}