{% extends '../base.html' %}

{% block content %}
	<h2>Loan Requests:</h2>
	{% if sleep_vis == True%}
		<a href="/loan_requests/?sleep_vis=0">Hide Slept Requests</a>
	{% else %}
		<a href="/loan_requests/?sleep_vis=1">View Slept Requests</a>
	{% endif %}
	<br>
	<br>
	<h3><u>Priority Requests:</u></h3>
	{% if priority %}
		<table>
			<tr>
				<th>User</th>
				<th>Address of Property</th>
				<th>Borrower</th>
				<th>Amount Requested</th>
				<th>Contact Person</th>
				<th>Phone Number</th>
				<th>Email Address</th>
				<th>Date Last Modified</th>
				<th>Workflow Status</th>
			</tr>
			<tr>
			{% for app in priority %}
			<tr>
				<td>{{ app.user.username }}</td>
				<td>{{ app.request_data.loan_address }}</td>
				<td>{{ app.borrower_requested }}</td>
				<td>${{ app.loan_request_amt | floatformat:2 }}</td>
				<td>{{ app.request_data.contact_person.name_first }}, {{ app.request_data.contact_person.name_last }}</td>
				<td>{{ app.request_data.contact_person.phone }}</td>
				<td>{{ app.request_data.contact_person.email_address }}</td>
				<td>{{ app.loan_request_date }}</td>
				<td>{{ app.get_workflow_status_display }}<br> <a href="{{ app.id }}" >Update</a></td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>There are no priority requests</p>
	{% endif %}
	
	<br>
	<h3><u>Active Requests:</u></h3>
	{% if active %}
		<table>
			<tr>
				<th>User</th>
				<th>Address of Property</th>
				<th>Borrower</th>
				<th>Amount Requested</th>
				<th>Contact Person</th>
				<th>Phone Number</th>
				<th>Email Address</th>
				<th>Date Last Modified</th>
				<th>Workflow Status</th>
			</tr>
			<tr>
			{% for app in active %}
			<tr>
				<td>{{ app.user.username }}</td>
				<td>{{ app.request_data.loan_address }}</td>
				<td>{{ app.borrower_requested }}</td>
				<td>${{ app.loan_request_amt | floatformat:2 }}</td>
				<td>{{ app.request_data.contact_person.name_first }}, {{ app.request_data.contact_person.name_last }}</td>
				<td>{{ app.request_data.contact_person.phone }}</td>
				<td>{{ app.request_data.contact_person.email_address }}</td>
				<td>{{ app.loan_request_date }}</td>
				<td>{{ app.get_workflow_status_display }}<br> <a href="{{ app.id }}" >Update</a></td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>There are no active requests</p>
	{% endif %}
	
	{% if sleep_vis %}
		<br>
		<br>
		<h3><u>Slept Requests:</u></h3>
		{% if sleep %}
			<table>
				<tr>
					<th>User</th>
					<th>Address of Property</th>
					<th>Borrower</th>
					<th>Amount Requested</th>
					<th>Contact Person</th>
					<th>Phone Number</th>
					<th>Email Address</th>
					<th>Date Last Modified</th>
					<th>Workflow Status</th>
				</tr>
				<tr>
				{% for app in sleep %}
				<tr>
					<td>{{ app.user.username }}</td>
					<td>{{ app.request_data.loan_address }}</td>
					<td>{{ app.borrower_requested }}</td>
					<td>${{ app.loan_request_amt | floatformat:2 }}</td>
					<td>{{ app.request_data.contact_person.name_first }}, {{ app.request_data.contact_person.name_last }}</td>
					<td>{{ app.request_data.contact_person.phone }}</td>
					<td>{{ app.request_data.contact_person.email_address }}</td>
					<td>{{ app.loan_request_date }}</td>
					<td>{{ app.get_workflow_status_display }}<br> <a href="{{ app.id }}" >Update</a></td>
				</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>There are no slept requests</p>
		{% endif %}
	{% endif %}
{% endblock content %}