{% extends '../base.html' %}
{% block content %}


<script>
	$(function() {
		$(".datepicker").datepicker({
			dateFormat: 'yy-mm-dd',
		});
	});
</script>
<h1>Loan Payment Form:</h1>
	<a href="/loan_payments" class="btn btn-default">Back</a>
	
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		{% if form_name == 'PaymentForm' %}
			<p><strong id='principal'>Principal Payment:</strong> </p>
		{% endif %}
		<input id="submit_button" type="submit" value="Submit" disabled>
	</form>
	
<script>
	document.getElementById('id_pmt_total').setAttribute("onchange", "change_principal()");
	document.getElementById('id_pmt_date').setAttribute("onchange", "change_principal()");
	var currDate = new Date();
	
	function change_principal(){
		var pmtTotal = document.getElementById("id_pmt_total").value;
		var pmtDate = document.getElementById("id_pmt_date").value;
		document.getElementById("id_interest_pmt").removeAttribute("value");
		
		$.ajax({
			type: "POST",
			url: "/loan_payments/{{ loan.id }}",
			data: {  
				csrfmiddlewaretoken: "{{ csrf_token }}", //django needs this
				'pmt_date': pmtDate,
			},
			timeout:0,
			success: function(data){
				var interestPmt = data.interest_calc
				var principalPmt = pmtTotal - interestPmt
				var newPmtDate = new Date(pmtDate)
				document.getElementById("id_interest_pmt").setAttribute("value", interestPmt);
				document.getElementById("principal").parentElement.innerHTML='<p><strong id="principal">Principal Payment:</strong> $' + principalPmt.toFixed(2) + '</p>';
				
				if (interestPmt >= 0 && principalPmt >= 0 && pmtTotal > 0 && newPmtDate >= currDate) {
				document.getElementById('submit_button').disabled = false;
			};
			}
		})
	};
</script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock content %}