{% extends 'base.html' %}

{% block content %}
{% if 'elt' in request.path %}
	<h1>Edit Loan Terms:</h1>
{% elif 'edd' in request.path %}
	<h1>Edit Deed:</h1>
{% elif 'pbl' in request.path %}
	<h1>Publish Loan to Blockchain:</h1>
{% elif 'pbd' in request.path %}
	<h1>Publish Deed to Blockchain:</h1>
{% endif %}
<a href="/submit_loan" class="btn btn-default">Back</a><br>
<br>
<br>
{% if 'e' in request.path %}
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit">
	</form>
{% elif 'pbl' in request.path %}
	<p><strong>Loan Wallet:</strong> </p>
	<br>
	<br>
	<h2><u>Loan Terms:</u></h2>
	<p><strong>Mortgage Type:</strong> {{ loan_terms.get_mortgage_applied_display }}</p>
	<p><strong>Agency Case Number:</strong> #{{ loan_terms.agency_case_no }}</p>
	<p><strong>Lender Case Number:</strong> #{{ loan_terms.lender_case_no }}</p>
	<p><strong>Application ID:</strong> #{{ loan_terms.application.id }}</p>
	<p><strong>Loan Amount:</strong> ${{ loan_terms.loan_amount|floatformat:2 }}</p>
	<p><strong>Interest Rate:</strong> {{ loan_terms.int_rate }}%</p>
	<p><strong>Months Left:</strong> {{ loan_terms.months_left }}</p>
	<p><strong>Amortization Type:</strong> {{ loan_terms.get_amortization_type_display }}</p>
	<p><strong>Approval Date:</strong> {{ loan_terms.approval_date }}</p>
	<br>
	<p>Is this information correct?</p>
	<fieldset>
		<div>
			<input type="radio" id="info_correct" name="safeguard" />
			<label for="info_correct">Yes</label>
		</div>
		<div>
			<input type="radio" id="info_incorrect" name="safeguard" checked />
			<label for="info_incorrect">No</label>
		</div>
	</fieldset>
	<br>
	<br>
	<input id="submitButton" type="submit" value="Publish" disabled>
	<script type="text/javascript">
		// Small script to disable 'submit' if radio button says 'no'
		window.onload = function() {
			var correct = document.getElementById('info_correct');
			var incorrect = document.getElementById('info_incorrect');
			
			correct.onclick = check_safeguard;
			incorrect.onclick = check_safeguard;
		};
		
		function check_safeguard() {
			if (document.getElementById('info_correct').checked === true){
				document.getElementById('submitButton').disabled = false;
			}
			else {
				document.getElementById('submitButton').disabled = true;
			}
		};
	</script>
{% elif 'pbd' in request.path %}
<!-- 
	Beginning of IPFS File Upload, content found on this article:
		- https://medium.com/@angellopozo/uploading-an-image-to-ipfs-e1f65f039da4
-->
	
	<form action="/">
		<fieldset>
			<legend>Upload photo</legend>
			<input type="file" name="photo" id="photo">
			<button type="button" onclick="upload()">Upload</button>
		</fieldset>
	</form>	
	<script src="https://wzrd.in/standalone/buffer"></script>
	<script src="https://unpkg.com/ipfs-api@9.0.0/dist/index.js"
	integrity="sha384-5bXRcW9kyxxnSMbOoHzraqa7Z0PQWIao+cgeg327zit1hz5LZCEbIMx/LWKPReuB"
	crossorigin="anonymous"></script>
	<script type="text/javascript">
		function upload() {
		const reader = new FileReader();
		reader.onloadend = function() {
			const ipfs = window.IpfsApi('localhost', 5001) // Connect to IPFS
			const buf = buffer.Buffer(reader.result) // Convert data into buffer
			ipfs.files.add(buf, (err, result) => { // Upload buffer to IPFS
				if(err) {
					console.error(err)
					return
				}
				let url = `https://ipfs.io/ipfs/${result[0].hash}`
				console.log(`Url --> ${url}`)
				document.getElementById("url").innerHTML= url
				document.getElementById("url").href= url
				document.getElementById("output").src = url
			})
		}
		const photo = document.getElementById("photo");
		reader.readAsArrayBuffer(photo.files[0]); // Read Provided File
		}
	</script>
	</br>
	</br>
	<a id="url"></a>
	</br>
	</br>
	<img id="output">
{% endif %}
{% endblock content %}