 {% extends '../base.html' %}
 
 {% block content %}
	<h2>Requests Approved for Tier 1:</h2>
	<h3>(Application Unsubmitted)</h3>
	{% if req_tier1 %}
		<table>
			<tr>
				<th>User</th>
				<th>Address of Property</th>
				<th>Contact Person</th>
				<th>Current Mortgage Balance</th>
				<th>Mortgage Amount Desired</th>
				<th>Phone Number</th>
				<th>Email Address</th>
				<th>Borrower Type</th>
				<th>Date Last Modified</th>
				<th>Status</th>
			</tr>
			<tr>
			{% for app in req_tier1 %}
			<tr>
				<td>{{ app.user.username }}</td>
				<td>{{ app.property.property_address }}</td>
				<td>{{ app.contact.name_last }}, {{ app.contact.name_first }}</td>
				<td>${{ app.curr_mortgage.current_balance | floatformat:2  }}</td>
				<td>${{ app.desired_mortgage.amount_desired | floatformat:2 }}</td>
				<td>{{ app.contact.phone }}</td>
				<td>{{ app.contact.email_address }}</td>
				<td>{{ app.borrower.get_type_display }}</td>
				<td>{{ app.submitted }}</td>
				<td>{{ app.get_status_display }}<br> <a href="req_{{ app.id }}" >Update</a></td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>There are no Requests that have been approved for Tier 1</p>
	{% endif %}
	<br>
	<br>
	<h2>Requests Approved for Tier 2:</h2>
	<h3>(Application Unsubmitted)</h3>
	{% if req_tier2 %}
		<table>
			<tr>
				<th>User</th>
				<th>Address of Property</th>
				<th>Contact Person</th>
				<th>Current Mortgage Balance</th>
				<th>Mortgage Amount Desired</th>
				<th>Phone Number</th>
				<th>Email Address</th>
				<th>Borrower Type</th>
				<th>Date Last Modified</th>
				<th>Status</th>
			</tr>
			<tr>
			{% for app in req_tier2 %}
			<tr>
				<td>{{ app.user.username }}</td>
				<td>{{ app.property.property_address }}</td>
				<td>{{ app.contact.name_last }}, {{ app.contact.name_first }}</td>
				<td>${{ app.curr_mortgage.current_balance | floatformat:2  }}</td>
				<td>${{ app.desired_mortgage.amount_desired | floatformat:2 }}</td>
				<td>{{ app.contact.phone }}</td>
				<td>{{ app.contact.email_address }}</td>
				<td>{{ app.borrower.get_type_display }}</td>
				<td>{{ app.submitted }}</td>
				<td>{{ app.get_status_display }}<br> <a href="req_{{ app.id }}" >Update</a></td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>There are no Requests approved for Tier 2</p>
	{% endif %}
	<br>
	<br>
 	<h2>Tier 1 Applications:</h2>
	{% if tier1 %}
		<table>
			<tr>
				<th>User</th>
				<th>Property</th>
				<th>Borrower</th>
				<th>Status</th>
				<th>Date Last Modified</th>
			</tr>
			<tr>
			{% for app in tier1 %}
			<tr>
				<td>{{ app.user.username }}</td>
				<td>{{ app.property.address }}</td>
				<td>{{ app.borrower.borrower_lname }}, {{ app.borrower.borrower_fname }}</td>
				<td>{{ app.get_status_display }}</td>
				<td>{{ app.submission_date }}</td>
				<td><a href="chs_{{ app.id }}">Update Status</a></td>
				<td><a href="{{ app.id }}">View Details</a></td>
				<td><a href="cht_{{ app.id }}">Change Tier</a></td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>There are no Tier 1 Applications</p>
	{% endif %}
	<br>
	<br>
	<h2>Tier 2 Applications:</h2>
	{% if tier2 %}
		<table>
			<tr>
				<th>User</th>
				<th>Property</th>
				<th>Borrower</th>
				<th>Status</th>
				<th>Date Last Modified</th>
			</tr>
			<tr>
			{% for app in tier2 %}
			<tr>
				<td>{{ app.user.username }}</td>
				<td>{{ app.property.address }}</td>
				<td>{{ app.borrower.borrower_lname }}, {{ app.borrower.borrower_fname }}</td>
				<td>{{ app.get_status_display }}</td>
				<td>{{ app.submission_date }}</td>
				<td><a href="chs_{{ app.id }}">Update Status</a></td>
				<td><a href="{{ app.id }}">View Details</a></td>
				<td><a href="cht_{{ app.id }}">Change Tier</a></td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>There are no Tier 2 Applications</p>
	{% endif %}
	
	{% if cert_tier1 %}
	<br>
	<br>
	<h2>Certified Tier 1 Applications:</h2>
		<table>
			<tr>
				<th>User</th>
				<th>Property</th>
				<th>Borrower</th>
				<th>Status</th>
				<th>Date Last Modified</th>
			</tr>
			<tr>
			{% for app in cert_tier1 %}
			<tr>
				<td>{{ app.user.username }}</td>
				<td>{{ app.property.address }}</td>
				<td>{{ app.borrower.borrower_lname }}, {{ app.borrower.borrower_fname }}</td>
				<td>{{ app.get_status_display }}</td>
				<td>{{ app.submission_date }}</td>
				<td><a href="chs_{{ app.id }}">Update Status</a></td>
				<td><a href="{{ app.id }}">View Details</a></td>
				<td><a href="cht_{{ app.id }}">Change Tier</a></td>
			</tr>
			{% endfor %}
		</table>
	{% endif %}
	
	{% if cert_tier2 %}
	<br>
	<br>
	<h2>Certified Tier 2 Applications:</h2>
		<table>
			<tr>
				<th>User</th>
				<th>Property</th>
				<th>Borrower</th>
				<th>Status</th>
				<th>Date Last Modified</th>
			</tr>
			<tr>
			{% for app in cert_tier2 %}
			<tr>
				<td>{{ app.user.username }}</td>
				<td>{{ app.property.address }}</td>
				<td>{{ app.borrower.borrower_lname }}, {{ app.borrower.borrower_fname }}</td>
				<td>{{ app.get_status_display }}</td>
				<td>{{ app.submission_date }}</td>
				<td><a href="chs_{{ app.id }}">Update Status</a></td>
				<td><a href="{{ app.id }}">View Details</a></td>
				<td><a href="cht_{{ app.id }}">Change Tier</a></td>
			</tr>
			{% endfor %}
		</table>
	{% endif %}
 {% endblock content %}