{% extends '../base.html' %}

{% block content %}
<a href='..' class='btn btn-default'>Back</a>

<table>
	<caption>In-Progress Loan Applications</caption>
	<tr>
		<th>User</th>
		<th>Date Submitted</th>
		<th>Stage in Workflow</th>
	</tr>
	{% if workflow_apps %}
		{% for app in workflow_apps %}
		<tr>
			<td>{{ app.user }}</td>
			<td>{{ app.date_submitted }}</td>
			<td>{{ app.stage }}</td>
			<td><a href='#' class='btn btn-default'>View Details</a></td>
		</tr>
		{% endfor %}
	{% else %}
		<tr>
			<td>TEST ROW</td>
		</tr>
		<tr>
			<td>app.user</td>
			<td>app.date_submitted</td>
			<td>app.stage</td>
			<td><a href='#' class='btn btn-default'>View Details</a></td>
		</tr>
	{% endif %}
	
{% endblock content %}